<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Pingis</title>
        
        <script src="script/animations.js"></script>
        <link href="style.css" type="text/css" rel="stylesheet" /> 

    </head>

      <body>

      <div class="displayContent">

      <div class="playerOne">
      <div class="panelHolder setLeft"><div class="slidingPanelOne"></div></div>

      <div class="setView">           
            <div class="setPoint setRight 1"></div>
            <div class="setPoint setRight 2"></div>
            <div class="setPoint setRight 3"></div>

      </div>

      <div class="scoreView" id="scoreViewOne">0</div>
      <div class="serving"></div>
      <div class="statBox">WINS : 100</div>
      <div class="playerName">Blu
      <div class="eloView">Rating: NULL</div></div>

      </div>


      <div class="playerTwo">
      <div class="panelHolder setRight"><div class="slidingPanelTwo"></div></div>
      
      <div class="setView">
            <div class="setPoint setLeft 1"></div>
            <div class="setPoint setLeft 2"></div>
            <div class="setPoint setLeft 3"></div>

      </div>

      <div class="scoreView" id="scoreViewTwo">0</div>
      <div class="serving"><div class="servingText">Serve</div> <div class="servBall"></div></div>
      <div class="statBox">WINS : 120</div>
      <div class="playerName">Red
      <div class="eloView">Rating: NULL</div></div>

      </div>

      </div>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
      <script src="js/ajax.js"></script>
    </body>
</html>
