<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Pingis</title>
        
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
       <!-- <script src="{{ url_for('static', filename='script/animations.js') }}"></script>-->

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

    </head>

      <body>

      <div class="displayContent">

      <div class="playerOne">
      <div class="panelHolder setLeft"><div class="slidingPanelOne"></div></div>

      <div class="setView">           
            <div class="setPoint setRight 1"></div>
            <div class="setPoint setRight 2"></div>
            <div class="setPoint setRight 3"></div>

      </div>
              <script type="text/javascript">
        var source = new EventSource("/subscribe");
            source.onmessage = function(e) {
                data = JSON.parse(e.data)
                /*$(".score1").append(data['player1score']);
                $(".playerName1").append(data['player1']);
                $(".score2").append(data['player2score']);
                $(".playerName2").append(data['player2']);*/
                console.log(data);
            };
      
      </script>
      <div class="scoreView score1" id="scoreViewOne"></div>
      <div class="serving"></div>
      <div class="statBox">WINS : 100</div>
      <div class="playerName playerName1">
      <div class="eloView">Rating: NULL</div></div>

      </div>


      <div class="playerTwo">
      <div class="panelHolder setRight"><div class="slidingPanelTwo"></div></div>
      
      <div class="setView">
            <div class="setPoint setLeft 1"></div>
            <div class="setPoint setLeft 2"></div>
            <div class="setPoint setLeft 3"></div>

      </div>

      <div class="scoreView score2" id="scoreViewTwo"></div>
      <div class="serving"><div class="servingText">Serve</div> <div class="servBall"></div></div>
      <div class="statBox">WINS : 120</div>
      <div class="playerName playerName2">
      <div class="eloView">Rating: NULL</div></div>

      </div>

      </div>

      <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
       <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>-->
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    </body>
</html>
